
$primary-color: #243a4d;
$subdued-text: #bdbdbd;
$font-serif: 'utopia-std', georgia, serif;


// body{background: #222;}
html, body{height: 100%;}
canvas {position: fixed; top: 0; left: 0; z-index: 0; } 
img{max-width: 100%;}

.container-fluid, .container{z-index: 1;}
.navbar{z-index: 100;}

h1, h2, h3, h4, h5, h6{font-weight: normal; }
img{ max-width: 100%;  }

header#page-head{background: #fefefe; color: #222; z-index: 2; min-height: 55em;; 
    .sidebar-inner{padding: 2em;
        p{font-size: .9em; line-height: 2em; margin: 1em 0;}
        a.nav-link{            
            &.active{color: $primary-color; }
            &:link{color: $primary-color;}
            &:hover{background-color: lighten($primary-color, 5%); color: #fff; border-radius: 5px;}
        }
        
        #sponsor-logos{ 
            h4{font-size: 20px; margin-bottom:1em; text-align: center;}
            img{width: 180px; margin-bottom: 1em;}
            
            div#eadh{
                img{background: #fff; padding: 10px;}
            }
        
        }
    }
}
#content { z-index: 2; margin-top: 3em; }



#poetry{  min-height: 600px; max-height: 800px; margin: 2em auto 0; padding: 2em 10px 5em; background: rgba(255, 255, 255, .9); overflow-y: scroll;
    .time-since{ font-size: .8em; color: $subdued-text; }
    .poetry-line{ font-size: .875rem; padding-right: 3em; 
        p { line-height: 1.925em; margin-bottom: 0; }
        span { display: block; }
    }
}


#heartbeat{ padding: 0; margin-bottom: 1em; margin-top: 0;
    p{padding: 10px 0 10px; margin: 0; 
      i{background-color: rgba(255,255,255, .9); border-radius: 50px; padding: 19px 20px;}
    }
}



#performance{ font-size: 1em;
  #poetry{ height: 600px; max-height: 600px; padding-bottom: 10em;
    &:first-child{margin-top: 2em;}
  }
  .time-since{font-size: .8em; color: $subdued-text;}
  .poetry-line{font-size: 27px; font-family: $font-serif;}
}

#performance-waiting{
  h1{font-family: $font-serif; font-size: 4em; color: $subdued-text; }
  .btn-circle {width: 30px; height: 30px; text-align: center; padding: 6px 0; font-size: 12px; line-height: 1.428571429; border-radius: 15px; }
  .btn-circle.btn-lg {width: 70px; height: 70px; padding: 24px 27px; font-size: 16px; line-height: 1.33; border-radius: 50px; }
  .btn-circle.btn-xl {width: 70px; height: 70px; padding: 10px 16px; font-size: 24px; line-height: 1.33; border-radius: 35px; }

  #heartbeat{ 
    i{font-size: 180px; }
  }
}

#exhibit-blurb{    position: absolute; bottom: 20px; left: 20px; width: 450px; height: 300px; padding: 2em; font-size: .85em; color: #fff; background: rgba(103, 58, 183, .8); }
#exhibit-logos{ position: absolute ; bottom: 20px; right: 20px; width: 300px; height: 300px;
      img{ max-width: 120px; margin-bottom: 1em;}
      h4{ text-align: center; color: #dbdbdb; font-family: georgia, serif; font-size: 1.2em;} 
      div.exhibit-logo{width: 45%; margin-bottom: 1em; margin-top: 1em;}
      div#eadh{
          img{background: #fff; padding: 10px;}
      }
}



.fa-beat {
  animation:fa-beat 5s ease infinite;
}
@keyframes fa-beat {
  0% {
    transform:scale(1);
  }
  5% {
    transform:scale(1.25);
  }
  20% {
    transform:scale(1);
  }
  30% {
    transform:scale(1);
  }
  35% {
    transform:scale(1.25);
  }
  50% {
    transform:scale(1);
  }
  55% {
    transform:scale(1.25);
  }
  70% {
    transform:scale(1);
  }
}

.heart {
  color:red;
}