<!doctype html>
<html class="no-js" lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>EverVerse</title>

    <link rel="apple-touch-icon" href="apple-touch-icon.png">
    <!-- Place favicon.ico in the root directory -->

    <!-- build:css vendor.css -->
    <!-- endbuild -->

    <link rel="stylesheet" href="https://use.typekit.net/aci2mez.css">
   <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
   <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.2/css/font-awesome.min.css">

    <!-- build:css static/styles/styles.min.css -->
    <link rel="stylesheet" href="../../.tmp/static/styles/main.css">
    <link rel="stylesheet" href="../../node_modules/textillate/assets/animate.css">
    <!-- endbuild -->
    
    
  </head>
  <body>
    <!--[if IE]>
      <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->

    <div id="performance" class="container h-100" >
        <div class="row h-100">
    <!--         <header id="page-head" class="col-sm-1 h-100 ">
               
            </header> -->

            <div id="content" class="col">

                <div id="poetry" class="col-sm-10 col-sm-offset-1 mt-4">
                    

                    
                </div>
                
                <div class="row invisible" id="heartbeat">
                    <div class="col-12 text-center">
                        <p class="heart"><i class="fa fa-heart fa-2x fa-beat"></i></p>
                    </div>
                </div>

                <!-- <div class="alert alert-info">
                    <h4>Buttons for UI Testing...</h4>
                    <p>
                        Use to mimic live heart-rate updates, which should 
                        change the UI 
                    </p>
                </div>
                <button id="test-out-of-range" class="btn btn-success">
                    Update OutOfRange heart rate
                </button>
                <button id="test-fat" class="btn btn-success">
                    Update Fat Burn heart rate
                </button>
                <button id="test-cardio" class="btn btn-success">
                    Update Cardio heart rate
                </button>
                <hr/><div class="clearfix"></div>
                <button id="test-text-entry" class="btn btn-success">
                    Add line of text
                </button> -->
            </div> <!-- #content -->
      </div>
    </div>
    
    <!-- Google Analytics: change UA-XXXXX-X to be your site's ID. -->
    <script>
      (function(b,o,i,l,e,r){b.GoogleAnalyticsObject=l;b[l]||(b[l]=
      function(){(b[l].q=b[l].q||[]).push(arguments)});b[l].l=+new Date;
      e=o.createElement(i);r=o.getElementsByTagName(i)[0];
      e.src='https://www.google-analytics.com/analytics.js';
      r.parentNode.insertBefore(e,r)}(window,document,'script','ga'));
      ga('create','UA-XXXXX-X');ga('send','pageview');
    </script>



    
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/0.5.16/p5.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.5.2/underscore-min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.20.1/moment.min.js"></script> 
    
    <!-- build:js static/scripts/vendor.js -->
    <script src="node_modules/handlebars/dist/handlebars.js"></script>
    <!-- endbuild -->
    
    <!-- build:js static/scripts/app.js -->
    <!-- endbuild -->


    
    <script id="poetry-section-template" type="text/x-handlebars-template">
        <div class="row"> 
            <div class="col-sm-2 time text-right">
                {% raw %}
                <span class="time-since" data-timestamp="{{ timestamp }}">
                    {{ time_string }}
                </span>
                {% endraw %}
            </div>
            <div class="col-sm-10 poetry-line">
                {% raw %}
                <p>
                    <span class="line-1 animated fadeInRight">{{ line_1 }}</span>
                    <span class="line-2"></span>
                </p>
                {% endraw %}
            </div>
        </div> 
    </script>
    

    <!-- <script src="static/scripts/lib.js"></script> -->
    <script src="static/scripts/visual.js"></script>
    <script src="static/scripts/text.js"></script>
    <script src="static/scripts/time.js"></script>

    <script>
        
        
        var sleepTime = 1000;
        var fitbit_data;

        eververseConfig.is_performance = true;
        eververseConfig.loop_text = true;
        eververseConfig.log_poem_data = true;

        $(function() {
            $(document).ready (function() {
                $.getJSON('/static/data/justin-data-processed.json', function(data){
                    fitbit_data = data;
                    eververseText.init();

                    $.getJSON('/get_zones', function(zones){
                        if(zones){
                            eververseConfig.heartRateZones = zones;
                        }
                        getVerse();
                    });
                });
            });
        });

        async function getVerse(){
            var fitbitData  = fitbit_data;

            // for (var i = 0; i < fitbitData.length; i ++){
            //     sendAjax(fitbitData[i].value);
            //     await sleep(sleepTime);
            // }

            var keepGettingVerses = true;
            var i = 0;
            while(keepGettingVerses){

                let indexToGet = (sleepTime / 1000) + i;
                i = indexToGet;
                
                // console.log(i, indexToGet, sleepTime, fitbitData[indexToGet]); 

                if(indexToGet > fitbitData.length){
                    
                    // stop at the end of the dataset,
                    // or loop back to the start?
                    if(eververseConfig.loop_text === false){
                        // ---------------------------
                        //Stop doing anything...
                        // ---------------------------
                        keepGettingVerses = false;
                        break;
                    }else{
                        // ---------------------------
                        // or, reset and keep going:
                        // ---------------------------
                        i = 0;
                        indexToGet = 0;
                    }
                }

                sendAjax(fitbitData[indexToGet].value);

                await sleep(sleepTime);
            }
        }

        function sendAjax(zoneValue){
            $.getJSON('/_get_verse', {
                zoneValue: zoneValue,
                logPoem: eververseConfig.log_poem_data
            }, function(data) {
                sleepTime = (data.sleepTime * 1000);
                setValues(data);
            });
        }

        function setValues(verse){
            // output poetry text
            eververseText.writeLine(verse);           
            // update relative times
            eververseTime.updateTimeDisplays();
            // change background vis
            eververseConfig.updateHeartRate(verse.heartRate);
        }

        function sleep(ms) {
            return new Promise(resolve => setTimeout(resolve, ms));
        }


        $(document).ready(function(){
            // -------------------------------------------
            // FOR TESTING ONLY - TO BE REMOVED
            // 
            // - simulate updated values within various
            // heart-rate zones. 
            // -------------------------------------------
            // $('#test-out-of-range').click(function(){
            //     var newVal = Math.floor(random(40, 90));
            //     eververseConfig.updateHeartRate(newVal);                
            // }); 

            // $('#test-fat').click(function(){
            //     var newVal = Math.floor(random(91, 128));
            //     eververseConfig.updateHeartRate(newVal);                
            // });

            // $('#test-cardio').click(function(){
            //     var newVal = Math.floor(random(129, 154));
            //     eververseConfig.updateHeartRate(random(129, 154));                
            // });

            // $('#test-text-entry').click(function(){
            //     eververseText.writeLine();           
            //     eververseTime.updateTimeDisplays();
            // });

            // ----------------------------------------------------
            // END OF TESTING SECTION
            // ----------------------------------------------------
            
            // do some template setup
            // eververseText.init();
            
            
        });


    </script>
  </body>
</html>
