<header id="page-head" class="col-sm-12 col-lg-3 h-lg-100 ">
        <div class="sidebar-inner">
            <h1>
                <a href="/">
                    <img src="/static/images/logo-eververse.png" alt="EverVerse" />
                    <span class="sr-only">Eververse</span>
                </a>
            </h1>

          <!--   <div class="form-group">
                <div class="input-group date" id="datetimepicker6" data-target-input="nearest">
                    <input type="text" class="form-control datetimepicker-input" data-target="#datetimepicker6"/>
                    <div class="input-group-append" data-target="#datetimepicker6" data-toggle="datetimepicker">
                        <div class="input-group-text"><i class="fa fa-calendar"></i></div>
                    </div>
                </div>
            </div> -->

            <p>
                Generating poetry from biometric data, Eververse literalises the abstract relations between self and art.

            </p>
            <p>
                Deploying tools and methods from poetic theory, data analysis, and Natural Language Generation Eververse uses data from a quantified self device to automatically generate and publish poetry which correlates to the poet's varying physical states.
            </p>

            <nav role="navigation">
                <ul class="nav flex-column">
                  <li class="nav-item ">
                    <a class="nav-link" href="/">Home</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="/about">About</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="/technical">Technical details</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="/events-publications">Events / Publications</a>
                  </li>
                </ul>
            </nav>
      
            <aside id="sponsor-logos" class="mt-5">
                <h4>Supported by</h4>

                <div class="row text-center">
                    <div class="col-6 col-lg-12" id="eadh">
                        <a href="http://eadh.org">
                            <img src="/static/images/eadh-logo-horizontal-2.png" alt="European Association for Digital Humanities" />
                        </a>
                    </div>
                
                    <div class="col-6 col-lg-12">
                        <a href="http://mooreinstitute.ie">
                            <img src="/static/images/logo-moore.svg" alt="Moore Institute" />
                        </a>
                    </div>  
                    <div class="col-6 col-lg-12">
                      <a href="http://insight-centre.org">
                        <img src="/static/images/logo-insight.jpg" alt="Insight" />
                      </a>
                    </div>
                    <div class="col-6 col-lg-12">
                        <a href="http://nuigalway.ie">
                            <img src="/static/images/logo-nuigalway.png" alt="NUI Galway" />
                        </a>
                    </div>
                    <div class="col-6 col-lg-12">
                      <a href="https://www.maynoothuniversity.ie/">
                        <img src="/static/images/logo-maynooth.png" alt="Maynooth University" />
                      </a>
                    </div>
                </div>
            </aside>
        </div>
    </header>