<!doctype html>
<html class="no-js" lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>About | Eververse</title>

    <link rel="shortcut icon" href="/static/images/favicon.ico" type="image/x-icon">
    <link rel="icon" href="/static/images/favicon.ico" type="image/x-icon">


    <link rel="stylesheet" href="https://use.typekit.net/aci2mez.css">
   <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
   <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.2/css/font-awesome.min.css">
    
    <link rel="stylesheet" href="/static/styles/styles.min.css">    
    
    
  </head>
  <body>
    <!--[if IE]>
      <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->
     <div class="container-fluid h-100" >
        <div class="row h-100">
            {% include 'partial/sidebar.html' %}
            <div id="content" class="col-12 col-md-6 pt-2">
                <h1>About</h1>

                <p class="mb-5">
                    <em>Eververse</em> is a project which synthesises perspectives from disciplines in the humanities and sciences to develop critical and creative explorations of poetry and poetic identity in the digital age. <em>Eververse</em> sends biometric data from a fitness tracking device worn by the project PI/poet to its custom-built poetry generator. This generator utilises NLG techniques to output poetic text published in real time, and 24/7, on the <em>Eververse</em> website.
                </p>

                <h3>Project team</h3>
                <ul>
                    <li>
                        <strong>Principal Investigator</strong><br/>
                        <strong>Justin Tonra</strong> is Lecturer in English (Digital Humanities) at the National University of Ireland Galway. His areas of research interest include digital approaches to literary studies, book history, textual studies and bibliography, scholarly editing, and literature of the Romantic period. He is currently joint National Coordinator for DARIAH Ireland, and a working-group leader for COST Action CA16204 Distant Reading for European Literary History.
                    </li>

                    <li>
                        <strong>Brian Davis</strong> is Lecturer in Computer Science, Maynooth University, where along with his research activities he is charged with delivering modules in Computer Science at both undergraduate and master’s levels. Prior to taking up his appointment at Maynooth University, he was a Research Fellow, Adjunct Lecturer and Research Unit Leader at the Insight Centre for Data Analytics, NUI Galway. Since June 2014, he led the Knowledge Discovery Unit (KDU, 4 PhDs, 2 MSc, 3 PostDoc, 4 RAs), focusing on the specific research areas of: Natural Language Processing, Data Visualization and Knowledge Discovery from heterogeneous data sources (text and graph). 
                    </li>
                    <li>    
                        <strong>David Kelly</strong> is Digital Humanities Manager for the Moore Institute at NUI Galway. He works with individual researchers and research teams engaged in DH projects. To date, this has included projects involving database development, text and data visualisation, social annotation, digital edition development and network analysis. Prior to joining NUI Galway, David established and ran a web development company based in Galway, and worked as a researcher in Information Systems at University College Cork.
                    </li>
                    <li>
                        <strong>Waqas Khawaja</strong> is a Research Associate and a part-time PhD student with the Knowledge Discovery Unit at the Insight Centre for Data Analytics, NUI Galway. He is currently leading the architecture and platform work for the H2020 ICT Programme Project SSIX. He has over 7 years of software development and analysis experience, and is working on his PhD in the areas of Natural Language Generation and Visual Analytics.
                    </li>
                </ul>

                <h3>Grant / support details</h3>
                <p>
                    Eververse was funded by a Small Grant awarded by the European Association for Digital Humanities in 2017. 
                </p>
                <p>
                    We are also grateful for the support of the <a href="http://mooreinstitute.ie">Moore Institute for Research in the Humanities and Social Studies</a>, <a href="http://www.nuigalway.ie">NUI Galway</a>.
                </p>

                <h3>Acknowledgements</h3>

                <p>
                    Derval Byrne, Mark Byrne, Daniel Carey, Barbara Coen, Emily Cullen, Anne Karhio, Catherine Loughrey, Julie Murphy, Jason Natzke, Maria Nevin, Brian Ruane, Amir Shafat, Martha Shaughnessy, Manel Zarrouk.
                </p>

                <h3>Contact</h3>
                <p>To contact the Eververse project, email <a href="mailto:justin.tonra@nuigalway.ie">Justin Tonra</a>.</p>


            </div>
        </div>
    </div>

    {% include 'partial/footer.html' %}
</body>

</html>