<!doctype html>
<html class="no-js" lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Events / Publications | Eververse</title>

    <link rel="shortcut icon" href="/static/images/favicon.ico" type="image/x-icon">
    <link rel="icon" href="/static/images/favicon.ico" type="image/x-icon">



    <link rel="stylesheet" href="https://use.typekit.net/aci2mez.css">
   <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
   <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.2/css/font-awesome.min.css">
    
    <link rel="stylesheet" href="/static/styles/styles.min.css">    
    
    
  </head>
  <body>
    <!--[if IE]>
      <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->
     <div class="container-fluid h-100" >
        <div class="row h-100">
           {% include 'partial/sidebar.html' %}

            <div id="content" class="col-12 col-md-6 pt-2 pb-4">
                <h1>Events / Publications</h1>

                <p class="text-muted">Details of performances / conference talks / publications</p>

                <h3>Conference presentations</h3>
                <ul>
                  <li>
                    "Poetry in Motion: Quantified Self Data and Automated Poetry Generation." Presented at:
                    <ul>
                      <li>European Association for Digital Humanities Conference. NUI Galway. 8 Dec 2018. Conference Paper.</li>
                      <li>Bodies of Data: Intersecting Medical and Digital Humanities Conference. Royal Irish Academy &amp; University College Dublin. 23 Nov 2018. Conference Paper. Listen to the <a href="https://soundcloud.com/ucd-digital-culture/justin-tonra-poetry-in-motion-self-data-automated-poetry?in=ucd-digital-culture/sets/bodies-of-data-intersecting-medical-and-digital-humanities">Event Podcast</a>.</li>
                      <li><a href="https://dh2019.adho.org/">DH2019 Digital Humanities Conference</a>. Utrecht University. 9-12 Jul 2019. Conference Paper.</li>
                      <li><a href="http://elo2019.ucc.ie/">Electronic Literature Organization Conference &amp; Media Arts Festival</a>. University College Cork. 15-17 Jul 2019. Conference Paper.</li>

                    </ul>
                  </li>
                </ul>

                <h3>Performances</h3>
                <ul>
                  <li>
                    "Embodied Encounters: Poetry in Motion (EverVerse)." Cúirt International Festival of Literature. 25 Apr 2018. Live Performance. <a href="https://www.youtube.com/watch?v=n0LZgSXZDLI">Video</a>. <a href="/static/docs/EverVerse_printout_cuirt_2018.pdf">Text (pdf)</a>.
                    <br/>
                    <iframe class="mt-5 mb-5" width="680" height="315" src="https://www.youtube.com/embed/EreaV9cw-tE" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                  </li>
                </ul>

                <h3>Exhibitions</h3>
                <ul>
                  <li>"Eververse: Poetry in Motion." Transient Topographies: Space and Interface in Digital Literature and Art Conference. NUI Galway. 20-21 Apr 2018. Exhibition Piece. <a href="/static/docs/transient-topographies_exhibition-2018.txt">Text</a> (.txt).</li>
                  <li>"Eververse: Poetry in Motion." <a href="http://elo2019.ucc.ie/">Electronic Literature Organization Conference &amp; Media Arts Festival</a>. University College Cork. 15-17 Jul 2019. Artist’s Talk.
                </ul>

                <h3>Media coverage</h3>
                <ul>
                  <li>"Interview with Dr Justin Tonra about Eververse - A Poem Generated from His Own Biometrics’. Flirt FM Newsfeed. 12 Feb 2019. <a href="https://www.mixcloud.com/flirtnewsfeed/interview-speaking-to-dr-justin-tonra-about-eververse-a-poem-generated-from-his-own-biometrics/">Radio Interview</a>.</li>

                  <li>Poetry from the Heart (and Arms and Legs)." Irish Times. 23 Feb 2019. <a href="/static/docs/eververse_irish_times.jpg" alt="Irish Times Feature Screenshot" target="_blank" />Newspaper Feature<a>.</li>

                  <li>"Features: Eververse." Flirt FM Newsfeed. 14 Mar 2019. <a href="https://soundcloud.com/julia-tereno/features-eververse">Radio Feature</a>.</li>
                </ul>   

                 

            </div>
          </div>
    </div>
    {% include 'partial/footer.html' %}
</body>

</html>