<!doctype html><html class="no-js" lang="en"><head><meta charset="utf-8"><meta name="description" content=""><meta name="viewport" content="width=device-width,initial-scale=1,shrink-to-fit=no"><title>EverVerse</title><link rel="apple-touch-icon" href="apple-touch-icon.png"><link rel="stylesheet" href="https://use.typekit.net/aci2mez.css"><link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous"><link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.2/css/font-awesome.min.css"><link rel="stylesheet" href="static/styles/styles.min.css"></head><body><!--[if IE]><p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p><![endif]--><div id="performance" class="container h-100"><div class="row h-100"><div id="content" class="col"><div id="poetry" class="col-sm-10 col-sm-offset-1 mt-4"></div><div class="row invisible" id="heartbeat"><div class="col-12 text-center"><p class="heart"><i class="fa fa-heart fa-2x fa-beat"></i></p></div></div></div></div></div><div id="exhibit-blurb"><p><em>EverVerse</em> is a forthcoming work which uses biometric data to automatically generate poetry which responds to the poet’s varying physical and emotional states. A conceptual response to the common view of the poet as a creative vessel or conduit, admitting the sensory input of the world and producing poetic output, EverVerse literalises the abstract relations between self and art. The conference exhibit features a ten-minute loop of poetry generated from data collected on a bicycle ramp test, where the poet’s heart rate was incrementally increased from resting to maximum.</p><p>Project personnel:<br>Brian Davis, David Kelly, Waqas Khawaja, Justin Tonra.</p></div><div id="exhibit-logos"><aside id="sponsor-logos"><h4>Supported by</h4><div class="exhibit-logo text-center" style="float:left"><div id="eadh"><a href="http://eadh.org"><img src="/static/images/eadh-logo-horizontal-2.png" alt="European Association for Digital Humanities"></a></div></div><div class="exhibit-logo text-center" style="float:right"><div><a href="http://mooreinstitute.ie"><img src="/static/images/logo-moore.svg" alt="Moore Institute"></a></div></div><div class="exhibit-logo text-center" style="float:left"><div><a href="http://insight-centre.org"><img src="/static/images/insight_logo.jpg" alt="Insight"></a></div></div><div class="exhibit-logo text-center" style="float:right"><div><a href="http://nuigalway.ie"><img src="/static/images/logo-nuigalway.png" alt="NUI Galway"></a></div></div><div class="exhibit-logo text-center" style="float:left"><div><a href="https://www.maynoothuniversity.ie/"><img src="/static/images/logo-maynooth.png" alt="Maynooth University"></a></div></div></aside></div><script>!function(e,a,t,n,g,c){e.GoogleAnalyticsObject=n,e.ga||(e.ga=function(){(e.ga.q=e.ga.q||[]).push(arguments)}),e.ga.l=+new Date,g=a.createElement(t),c=a.getElementsByTagName(t)[0],g.src="https://www.google-analytics.com/analytics.js",c.parentNode.insertBefore(g,c)}(window,document,"script","ga"),ga("create","UA-XXXXX-X"),ga("send","pageview")</script><script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script><script src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/0.5.16/p5.js"></script><script src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.5.2/underscore-min.js"></script><script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.20.1/moment.min.js"></script><script src="static/scripts/vendor.js"></script><script id="poetry-section-template" type="text/x-handlebars-template"><div class="row"> 
            <div class="col-sm-2 time text-right">
                {% raw %}
                <span class="time-since" data-timestamp="{{ timestamp }}">
                    {{ time_string }}
                </span>
                {% endraw %}
            </div>
            <div class="col-sm-10 poetry-line">
                {% raw %}
                <p>
                    <span class="line-1 animated fadeInRight">{{ line_1 }}</span>
                    <span class="line-2"></span>
                </p>
                {% endraw %}
            </div>
        </div></script><script src="static/scripts/visual.js"></script><script src="static/scripts/text.js"></script><script src="static/scripts/time.js"></script><script>var sleepTime = 1000;
        var fitbit_data;
        
        eververseConfig.is_performance = true;
        eververseConfig.loop_text = true;
        eververseConfig.log_poem_data = true;

        $(function() {
            $(document).ready (function() {
                $.getJSON('/static/data/justin-data-processed.json', function(data){
                    fitbit_data = data;
                    eververseText.init();

                    $.getJSON('/get_zones', function(zones){
                        if(zones){
                            eververseConfig.heartRateZones = zones;
                        }
                        getVerse();
                    });
                });
            });
        });

        async function getVerse(){
            var fitbitData  = fitbit_data;

            // for (var i = 0; i < fitbitData.length; i ++){
            //     sendAjax(fitbitData[i].value);
            //     await sleep(sleepTime);
            // }

            var keepGettingVerses = true;
            var i = 0;
            while(keepGettingVerses){

                let indexToGet = (sleepTime / 1000) + i;
                i = indexToGet;
                
                console.log(i, indexToGet, sleepTime, fitbitData[indexToGet]); 

                if(indexToGet > fitbitData.length){
                    
                    // stop at the end of the dataset,
                    // or loop back to the start?
                    if(eververseConfig.loop_text === false){
                        // ---------------------------
                        //Stop doing anything...
                        // ---------------------------
                        keepGettingVerses = false;
                        break;
                    }else{
                        // ---------------------------
                        // or, reset and keep going:
                        // ---------------------------
                        i = 0;
                        indexToGet = 0;
                    }
                }

                sendAjax(fitbitData[indexToGet].value);

                await sleep(sleepTime);
            }
        }

        function sendAjax(zoneValue){
            $.getJSON('/_get_verse', {
                zoneValue: zoneValue,
                logPoem: eververseConfig.log_poem_data
            }, function(data) {
                sleepTime = (data.sleepTime * 1000);
                setValues(data);
            });
        }

        function setValues(verse){
            // output poetry text
            eververseText.writeLine(verse);           
            // update relative times
            eververseTime.updateTimeDisplays();
            // change background vis
            eververseConfig.updateHeartRate(verse.heartRate);
        }

        function sleep(ms) {
            return new Promise(resolve => setTimeout(resolve, ms));
        }


        $(document).ready(function(){
            // -------------------------------------------
            // FOR TESTING ONLY - TO BE REMOVED
            // 
            // - simulate updated values within various
            // heart-rate zones. 
            // -------------------------------------------
            // $('#test-out-of-range').click(function(){
            //     var newVal = Math.floor(random(40, 90));
            //     eververseConfig.updateHeartRate(newVal);                
            // }); 

            // $('#test-fat').click(function(){
            //     var newVal = Math.floor(random(91, 128));
            //     eververseConfig.updateHeartRate(newVal);                
            // });

            // $('#test-cardio').click(function(){
            //     var newVal = Math.floor(random(129, 154));
            //     eververseConfig.updateHeartRate(random(129, 154));                
            // });

            // $('#test-text-entry').click(function(){
            //     eververseText.writeLine();           
            //     eververseTime.updateTimeDisplays();
            // });

            // ----------------------------------------------------
            // END OF TESTING SECTION
            // ----------------------------------------------------
            
            // do some template setup
            // eververseText.init();
            
            
        });</script></body></html>