<html>
	<head>
		<title>EverVerse</title>
        <link href="/static/css/main.css" rel="stylesheet">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <script>window.jQuery || document.write('<script src="{{
            url_for('static', filename='jquery-3.2.1.js') }}">\x3C/script>')</script>
        <script type=text/javascript>
            $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
        </script>
    </head>
	<body>
        <div class="container">
            <p class="peotry">
            </p>
            <span id="all-data" style="display: none;">{{ fitbit_data }}</span>
        </div>
	</body>

    <script type=text/javascript>
        var sleepTime = 10000;

        $(function() {
            $(document).ready (function() {
                getVerse();
            });
        });

        async function getVerse(){
            var fitbitData  = JSON.parse($('#all-data').text());
            for (var i = 0; i , fitbitData.length; i ++){
                sendAjax(fitbitData[i].value);
                await sleep(sleepTime);
            }
        }

        function sendAjax(zoneValue){
            $.getJSON($SCRIPT_ROOT + '/_get_verse', {
                zoneValue: zoneValue
            }, function(data) {
                sleepTime = (data.sleepTime * 1000);
                setValues(data.poem);
            });
        }

        function setValues(verse){
            for(var i = 0; i < verse.length; i++){
                $(".peotry").append(verse[i].join(' '));
                $(".peotry").append('<br/>');
            }
            $(".peotry").append('<br/>');
        }

        function sleep(ms) {
            return new Promise(resolve => setTimeout(resolve, ms));
        }

    </script>
</html>
