<!doctype html>
<html class="no-js" lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Technical Details | Eververse</title>

    <link rel="shortcut icon" href="/static/images/favicon.ico" type="image/x-icon">
    <link rel="icon" href="/static/images/favicon.ico" type="image/x-icon">



    <link rel="stylesheet" href="https://use.typekit.net/aci2mez.css">
   <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
   <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.2/css/font-awesome.min.css">
    
    <link rel="stylesheet" href="/static/styles/styles.min.css">    
    
    
  </head>
  <body>
    <!--[if IE]>
      <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->
     <div class="container-fluid h-100" >
        <div class="row h-100">
           
           {% include 'partial/sidebar.html' %}

            <div id="content" class="col-12 col-md-6 pt-2">
                <h1>Technical details</h1>

                <p>
                    The ​EverVerse application consists of three main modules. The first module interfaces with the Fitbit device and its data through its Application Programming Interface (API). The activity data of the poet wearing the device is then sent, in JSON form to the NLG module referred to as the 'generator.’ This generator carries out a number of steps in order to generate and return a poetic couplet based on a conceptual model of states based on the activity information contained within the passed JSON data. The number of words and the frequency of the generated couplets correlate with the heart rate of the poet, whereas the textual content of the couplet is generated from the input corpus which is fed to the generator. The input corpus currently comprises fifty nine poems on the topic of the body; all are previously published and none is composed by the EverVerse poet; a separate, nocturnal corpus is deployed when sleep data is passed to the generator. In order to disassemble and reassemble the corpora for publication in EverVerse, they are arranged in a reverse ngram matrix and further shaped into a frequency lookup table by <a href="https://github.com/anfederico/Poesy">Poesy</a>, a Markov Model-based Natural Language Poetry Generator. The lookup table is used to create verse lines and <a href="​https://pypi.org/project/pronouncing/​">a python library is deployed to rhyme the verses</a>. In short, our method takes a language model approach similar to Barbieri, et al. although we do exploit some semantics, specifically alignment of couplets with fitbit activity states. Future work will involve experimenting with exploiting language resources such as <a href="https://doi.org/10.1145/219717.219748">WordNet</a> and SentiWordNet similar to previous work by Tobing and Oliveira.
                </p>
                <p>
                    The generator is written mainly in the Python programming language using the micro web framework, <a href="http://flask.pocoo.org/.">Flask</a>. It consists of a web interface to display the generated poetry and an administrator interface that is used to define heart rate parameters for different zones and to determine the form and content of the verse that corresponds to these zones.
                </p>
                <p>
                    The public user interface created to display the generated poetry relies heavily on a number of Open Source JavaScript libraries. These libraries enable display of the generated text (<a href="https://handlebarsjs.com/">Handlebars.js</a>, <a href="https://textillate.js.org/">Textillate.js</a>), the retrieval of data from the web application’s API and user interface animations (<a href="https://jquery.com/">jQuery</a>), and the creation of generative background images (<a href="https://p5js.org/">p5.js</a>). The dynamic background images are created in realtime, and utilise the activity data as an input to affect their form and colour, representing a visual correlate to the generated poetry.
                </p>
                <p>
                    Multiple versions of this interface were created for deployment on the web, in a live performance environment, and for display in a standalone exhibition setting. Each interface was adapted to take into account the context in which it would be experienced, for example, differences in how, or if, user interaction was required, and addressing the differing requirements for text size, line spacing, and overall page layouts.
                </p>


            </div>
        </div>
    </div>
    {% include 'partial/footer.html' %}
</body>

</html>